<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<h3>New Team</h3>

<%= form_for [@league, @team] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :short_name %>
    <%= form.text_field :short_name %>
  </div>
  <div>
    <%= form.submit "Create", class: "btn waves-effect waves-light" %>
  </div>
<% end %>
