<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<div class="row">
  <h3><%= @team.name %></h3>
  <h5>Owner: <%= @owner.first_name %> <%= @owner.last_name %></h5>
</div>
<div class="row divider"></div>
<div class="row">
  <% @league.sport.position_options.drop(1).each do |position| %>
    <h5><%= position %></h5>
    <div class="position-section <%= position.downcase %>">
      <% @players.select{|player| player['position'] == position}.each do |player| %>
        <ul>
          <li><%= player.first_name.blank? ? player.last_name : "#{player.last_name}, #{player.first_name}" %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
