<%= link_to('League Home', league_path(@league)) %>

<h2>Edit Draft Order</h2>

<%= form_tag league_draft_order_path do %>
  <ul id="draft-order">
    <% @teams.each do |team| %>
      <li>
        <%= team.name %>
        <%= fields_for "teams[#{team.id}]", team do |tf| %>
          <%= tf.number_field :draft_pick, in: 1...@league.size + 1, id: "team-#{team.id}" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div>
    <input name="save" type="submit" value="Save" />
  </div>
<% end %>

<% if @league_full %>
  <%= button_to('Generate draft picks', league_draft_results_path(@league.id)) %>
  <p>
    **Note** You should only generate draft picks once - after the draft order is finalized.
    Re-generating them will remove any existing picks, therefore undoing any trades that you've
    executed.
  <p>
<% end %>
