<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<h3>Edit Draft Order</h3>

<%= form_tag league_draft_order_path do %>
  <ul id="draft-order">
    <% @teams.each do |team| %>
      <li>
        <%= team.name %>
        <%= fields_for "teams[#{team.id}]", team do |tf| %>
          <%= tf.number_field :draft_pick, in: 1...@league.size + 1, id: "team-#{team.id}" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div>
    <button class="btn waves-effect waves-light" type="submit">Save</button>
  </div>
<% end %>
<div class="divider"></div>
<% if @league_full %>
  <%= link_to 'Generate Draft Picks', league_draft_results_path(@league.id), method: :post, id: "generate-picks-button", class: "btn waves-effect waves-light" %>
  <p class="warning">
    You should only generate draft picks once - after the draft order is finalized.
    Re-generating them will remove any existing picks, therefore undoing any trades that you've
    executed or keepers that you've saved.
  <p>
<% end %>
